.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 70%;
	margin: 15px auto;
	justify-content: space-between;
}

.left-container {
	text-align: center;
}